.error-msg {
  font-size: 0.8em;
  color: #f20000;
  margin-top: 3px;
}

.table .icon {
  width: 30px;
  height: 25px;
  display: inline-block;
  border-radius: 0.25rem;
  text-align: center;
  line-height: 28px;
}

.board {
  width: 340px;
  height: 340px;
  border: solid 1px #f7fafc;
}

.board .cell {
  box-sizing: border-box;
  float: left;
  font-size: 3rem;
  width: 80px;
  height: 80px;
  margin: 1px;
  padding: 0;
  border-radius: 10px;
  background-color: #172b4d;
  border: 1px solid #f7fafc;
}

.word-list-item {
  margin: auto;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.score {
  font-size: 3rem;
  color: #172b4d;
}

.rcorners {
  border-radius: 10px;
  background: #73ad21;
  padding: 20px;
  height: 126px;
}

.text-bg-secondary {
  color: #f7fafc;
}

.mt-words-list {
  margin-top: 3.45rem !important;
}
